@model IEnumerable<AlcoholShopWeb.Models.Product>

<h2 class="mt-4">Nasze alkohole</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="@item.ImageURL" class="card-img-top" alt="@item.Name" onerror="this.src='/images/noimage.png';">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                </div>
                <div class="card-footer">
                    <strong>@item.Price zł</strong><br />
                    <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-info btn-sm mt-2">Szczegóły</a>
                </div>
            </div>
        </div>
    }
</div>
